$yellow: #fad045;
$yellow-text: #6b581a;

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    margin: auto;
    height: 60px;
    width: 100%;
    text-align: center;
    background: $yellow;
    span {
        display: block;
        padding-top: 10px;
        font-size: 35px;
        font-weight: bold;
        color: $yellow-text;
        -webkit-user-select: none;
    }
}
